@charset "utf-8";
body {
  background-image: url(../imgs/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .header {
    width: 100%;
    height: 1.2rem; //90px
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    position: relative;

    .ar {
      position: absolute;
      top: 50%;
      left: 0.6667rem; // 50px
      width: 0.52rem;
      height: 0.52rem; //39px
      margin-top: -0.26rem;
    }

    .logo {
      width: 2.2267rem;
      height: 0.9333rem;
    }
  }

  .main {
    width: 100%;
    height: 10.1733rem;
    margin-top: 0.2667rem;
    flex: none;

    .main-title {
      width: 6rem;
      height: 3.8533rem;
      margin: 0 auto;
    }

    .main-content {
      width: 100%;
      height: 6.32rem;
      margin: 0 auto;

      .swiper-container {
        width: 100%;
        height: 100%;

        .swiper-slide {
          padding: 0 1.2rem;
          box-sizing: border-box;
          .video {
            // position: absolute;
            // top: 0.8rem;
            // left: 1.5rem;
            // width: 7rem;
            // height: 4.2rem;
            // object-fit: cover;
            position: absolute;
            top: 0.9rem;
            left: 1.4rem;
            width: 7.2rem;
            height: 4.2rem;
            object-fit: fill;
           
            .video-js {
              width: 100%;
              height: 100%;
            }
            .video-js .vjs-big-play-button {
              border-radius: 50%;
              width: 1.6em;
              height: 1.6em;
            }
            .vjs-big-play-centered .vjs-big-play-button {
              margin-left: -0.8em;
              margin-top: -0.8em;
            }
          }
        }
      }
    }
  }

  .tab {
    width: 100%;
    height: 100%;
    position: relative;

    .arc {
      position: absolute;
      right: 0;
      top: 0;
      width: 5.8rem;
      padding-top: 100%;
      // width: 100%;
      // height: 100%;
      border-top: 0.013333rem dashed #e8e8e8;
      border-left: 0.013333rem dashed #e8e8e8;
      border-top-left-radius: 100%;
      box-sizing: border-box;
      z-index: 1;
    }
    // .arc::before {
    //   position: absolute;
    //   top: -0.05rem;
    //   right: 0.03rem;
    //   content: '';
    //   width: 0.1rem;
    //   height:  0.1rem;
    //   border-radius: 50%;
    //   overflow: hidden;
    //   background-color: #e8e8e8;
    // }
    // .arc::after {
    //   position: absolute;
    //   left: 0.88rem;
    //   bottom: 0.03rem;
    //   content: '';
    //   width: 0.1rem;
    //   height: 0.1rem;
    //   border-radius: 50%;
    //   overflow: hidden;
    //   background-color: #e8e8e8;
    // }

    .tab-item {
      position: absolute;
      width: 1.28rem; //96px  48
      height: 1.28rem;
      cursor: pointer;
      z-index: 2;
    }

    .item1 {
      right: 0.2rem;
      top: -0.4rem;
    }

    .item2 {
      right: 1.5rem;
      top: 0.2rem;
    }

    .item3 {
      right: 2.6rem;
      top: 1.1rem;
    }

    .item4 {
      right: 3.4rem;
      top: 2.2rem;
    }

    .item5 {
      right: 4rem;
      top: 3.4rem;
    }

    .item6 {
      right: 4.5rem;
      top: 4.7rem;
    }

    .active {
      transform: scale(1.3);
    }
  }
}

/*兼容iphoneX*/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .container {
    .tab {
      height: 7rem;
      position: fixed;
      bottom: 0;
      .item1 {
        right: 0.2rem;
        top: -0.5rem;
      }

      .item2 {
        right: 1.6rem;
        top: 0.2rem;
      }

      .item3 {
        right: 2.7rem;
        top: 1.2rem;
      }

      .item4 {
        right: 3.5rem;
        top: 2.5rem;
      }

      .item5 {
        right: 4.2rem;
        top: 3.9rem;
      }

      .item6 {
        right: 4.7rem;
        top: 5.4rem;
      }
    }
  }
}
