@charset "utf-8";
body {
  background-image: url(../imgs/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .header {
    width: 100%;
    height: 1.2rem; //90px
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    position: relative;

    .ar {
      position: absolute;
      top: 50%;
      left: 0.6667rem; // 50px
      width: 0.52rem;
      height: 0.52rem; //39px
      margin-top: -0.26rem;
    }

    .logo {
      width: 2.2267rem;
      height: 0.9333rem;
    }
  }

  .main {
    width: 100%;
    height: 100%;
    margin-top: 0.2667rem;
    .main-title {
      width: 5rem;
      // height: 3.8533rem;
      margin: 0 auto;
    }

    .main-content {
      width: 100%;
      height: 6.32rem;
      margin: 0 auto;

      .swiper-container {
        width: 100%;
        height: 100%;

        .swiper-slide {
          width: 100%;
          height: 100%;
          padding: 0 1.2rem;
          box-sizing: border-box;
          .video {
            position: absolute;
            top: 0.9rem;
            left: 1.4rem;
            width: 7.2rem;
            height: 4.2rem;
            object-fit: fill;
            video {
              width: 100%;
              height: 100%;
            }
            .video-js {
              width: 100%;
              height: 100%;
            }
            .video-js .vjs-big-play-button {
              border-radius: 50%;
              width: 1.6em;
              height: 1.6em;
            }
            .vjs-big-play-centered .vjs-big-play-button {
              margin-left: -0.8em;
              margin-top: -0.8em;
            }
          }
          .icon {
            position: absolute;
            right: 3.2rem;
            bottom: 0;
            width: 1.5867rem;
            height: 1.4667rem;
            z-index: 2;
            cursor: pointer;
            .pause {
              display: none;
            }
          }
        }
      }
    }
  }

  .tab {
    width: 50%;
    height: 218px;
    position: relative;
    border-top: 0.013333rem dashed #e8e8e8;
    border-left: 0.013333rem dashed #e8e8e8;
    border-top-left-radius: 100%;
    box-sizing: border-box;
    z-index: 1;
    align-self: flex-end;
    flex: none;

    .tab-item {
      position: absolute;
      width: 1.28rem; //96px  48
      height: 1.28rem;
      cursor: pointer;
      z-index: 2;
    }

    .tab-item img:not(:first-child){
      display: none;
    }

    .item1 {
      right: 0.1rem;
      bottom: 5rem;
    }

    .item2 {
      right: 1.4rem;
      bottom: 4.6rem;
    }

    .item3 {
      right: 2.4rem;
      bottom: 3.8rem;
    }

    .item4 {
      right: 3.4rem;
      bottom: 2.92rem;
    }

    .item5 {
      right: 4rem;
      bottom: 1.68rem;
    }

    .item6 {
      right: 4.2rem;
      bottom: 0.4rem;
    }

    .active {
      transform: scale(1.1);
    }
  }
}

/*兼容iphoneX*/
// @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
//   .container {
//     .tab {
//       height: 7rem;
//       position: ;
//       bottom: 0;
//       .item1 {
//         right: 0.2rem;
//         top: -0.5rem;
//       }

//       .item2 {
//         right: 1.6rem;
//         top: 0.2rem;
//       }

//       .item3 {
//         right: 2.7rem;
//         top: 1.2rem;
//       }

//       .item4 {
//         right: 3.5rem;
//         top: 2.5rem;
//       }

//       .item5 {
//         right: 4.2rem;
//         top: 3.9rem;
//       }

//       .item6 {
//         right: 4.7rem;
//         top: 5.4rem;
//       }
//     }
//   }
// }

//swiper next prev button reset
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "";
  background-size: cover;
  background-image: url("../imgs/right1.png");
  background-repeat: no-repeat;
  width: 0.6133rem;
  height: 1.12rem;
  outline: none;
}

.swiper-button-next.swiper-button-disabled::after {
  content: "";
  background-size: cover;
  background-image: url("../imgs/right0.png");
  background-repeat: no-repeat;
  width: 0.6133rem;
  height: 1.12rem;
  outline: none;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: "";
  background-size: cover;
  background-image: url("../imgs/left1.png");
  background-repeat: no-repeat;
  width: 0.6133rem;
  height: 1.12rem;
  outline: none;
}
.swiper-button-prev.swiper-button-disabled::after {
  content: "";
  background-size: cover;
  background-image: url("../imgs/left0.png");
  background-repeat: no-repeat;
  width: 0.6133rem;
  height: 1.12rem;
  outline: none;
}
.swiper-button-prev, .swiper-button-next{
  outline: none;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  cursor: auto;
  pointer-events: all;
}

