@charset "UTF-8";
body {
  background-image: url(../imgs/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container .header {
  width: 100%;
  height: 1.2rem;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  position: relative;
}

.container .header .ar {
  position: absolute;
  top: 50%;
  left: 0.6667rem;
  width: 0.52rem;
  height: 0.52rem;
  margin-top: -0.26rem;
}

.container .header .logo {
  width: 2.2267rem;
  height: 0.9333rem;
}

.container .main {
  width: 100%;
  height: 100%;
  margin-top: 0.2667rem;
}

.container .main .main-title {
  width: 5rem;
  margin: 0 auto;
}

.container .main .main-content {
  width: 100%;
  height: 6.32rem;
  margin: 0 auto;
}

.container .main .main-content .swiper-container {
  width: 100%;
  height: 100%;
}

.container .main .main-content .swiper-container .swiper-slide {
  width: 100%;
  height: 100%;
  padding: 0 1.2rem;
  box-sizing: border-box;
}

.container .main .main-content .swiper-container .swiper-slide .video {
  position: absolute;
  top: 0.9rem;
  left: 1.4rem;
  width: 7.2rem;
  height: 4.2rem;
  object-fit: fill;
}

.container .main .main-content .swiper-container .swiper-slide .video video {
  width: 100%;
  height: 100%;
}

.container .main .main-content .swiper-container .swiper-slide .video .video-js {
  width: 100%;
  height: 100%;
}

.container .main .main-content .swiper-container .swiper-slide .video .video-js .vjs-big-play-button {
  border-radius: 50%;
  width: 1.6em;
  height: 1.6em;
}

.container .main .main-content .swiper-container .swiper-slide .video .vjs-big-play-centered .vjs-big-play-button {
  margin-left: -0.8em;
  margin-top: -0.8em;
}

.container .main .main-content .swiper-container .swiper-slide .icon {
  position: absolute;
  right: 3.2rem;
  bottom: 0;
  width: 1.5867rem;
  height: 1.4667rem;
  z-index: 2;
  cursor: pointer;
}

.container .main .main-content .swiper-container .swiper-slide .icon .pause {
  display: none;
}

.container .tab {
  width: 50%;
  height: 218px;
  position: relative;
  border-top: 0.013333rem dashed #e8e8e8;
  border-left: 0.013333rem dashed #e8e8e8;
  border-top-left-radius: 100%;
  box-sizing: border-box;
  z-index: 1;
  align-self: flex-end;
  flex: none;
}

.container .tab .tab-item {
  position: absolute;
  width: 1.28rem;
  height: 1.28rem;
  cursor: pointer;
  z-index: 2;
}

.container .tab .tab-item img:not(:first-child) {
  display: none;
}

.container .tab .item1 {
  right: 0.1rem;
  bottom: 5rem;
}

.container .tab .item2 {
  right: 1.4rem;
  bottom: 4.6rem;
}

.container .tab .item3 {
  right: 2.4rem;
  bottom: 3.8rem;
}

.container .tab .item4 {
  right: 3.4rem;
  bottom: 2.92rem;
}

.container .tab .item5 {
  right: 4rem;
  bottom: 1.68rem;
}

.container .tab .item6 {
  right: 4.2rem;
  bottom: 0.4rem;
}

.container .tab .active {
  transform: scale(1.1);
}

/*兼容iphoneX*/
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "";
  background-size: cover;
  background-image: url("../imgs/right1.png");
  width: 0.6133rem;
  height: 1.12rem;
}

.swiper-button-next.swiper-button-disabled::after {
  content: "";
  background-size: cover;
  background-image: url("../imgs/right0.png");
  width: 0.6133rem;
  height: 1.12rem;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: "";
  background-size: cover;
  background-image: url("../imgs/left1.png");
  width: 0.6133rem;
  height: 1.12rem;
}

.swiper-button-prev.swiper-button-disabled::after {
  content: "";
  background-size: cover;
  background-image: url("../imgs/left0.png");
  width: 0.6133rem;
  height: 1.12rem;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  cursor: auto;
  pointer-events: none;
}
